<div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
    <!-- main menu header-->
    <div class="main-menu-header">
        <input type="text" placeholder="Search" class="menu-search form-control round" />
    </div>
    <!-- / main menu header-->
    <!-- main menu content-->
    <div class="main-menu-content">
        <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
            <li class=" nav-item">
                <a href="#"><i class="icon-home3"></i><span class="menu-title">مدیریت</span></a>
                <ul class="menu-content">
                    <li>
                        <a href="/Admin/Sliders" class="menu-item"><i class="icon-library text-warning"></i><span class="menu-title"> امکانات سایت</span></a>
                        <ul class="menu-content">
                            <li>
                                <a href="/UsersPanel/Sliders/Index" class="menu-item"><i class="icon-table2 text-success"></i> اسلایدر</a>
                            </li>                            
                            <li>
                                <a href="/UsersPanel/Banners/Index" class="menu-item"><i class="icon-images2 text-primary"></i> بنرهای صفحه اصلی</a>
                            </li>
                            <li>
                                <a href="/UsersPanel/SiteInfoes/Index" class="menu-item"><i class="icon-info text-info"></i> اطلاعات سایت</a>
                            </li>
                            <li>
                                <a href="#" class="menu-item"><i class="icon-newspaper text-danger"></i>مجله</a>
                                <ul class="menu-content">
                                    <li>
                                        <a href="/UsersPanel/BlogGroups" class="menu-item"><i class="icon-make-group text-white"></i> گروه های خبر</a>
                                    </li>
                                    <li>
                                        <a href="/UsersPanel/Blogs" class="menu-item"><i class="icon-book text-warning"></i> اخبار مجله</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/UsersPanel/FAQs/Index" class="menu-item"><i class="icon-question-circle text-info"></i> پرسش و پاسخ</a>
                            </li>
                            <li>
                                <a href="/UsersPanel/Status" class="menu-item"><i class="icon-alert-circled text-warning"></i>وضعیت‌های سفارش</a>
                            </li>
                            <li>
                                <a href="/UsersPanel/Permissions" class="menu-item"><i class="icon-security text-danger"></i> دسترسی ها</a>
                            </li>
                            <li>
                                <a href="/UsersPanel/Roles" class="menu-item"><i class="icon-group text-success"></i> نقش‌ها</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" class="menu-item"><i class="icon-calculator3 text-success"></i> فروشگاه</a>
                        <ul class="menu-content">
                            <li>
                                <a href="/UsersPanel/ProductGroups" class="menu-item"><i class="icon-make-group text-white"></i> گروه های محصول</a>
                            </li>
                            <li>
                                <a href="/UsersPanel/Products" class="menu-item"><i class="icon-file-zip text-success"></i> محصولات</a>
                            </li>
                            <li>
                                <a href="/UsersPanel/ProductSizes" class="menu-item"><i class="icon-font-size text-danger"></i> سایز محصولات</a>
                            </li>
                            <li>
                                <a href="/UsersPanel/DiscountCoupens" class="menu-item"><i class="icon-tag text-primary"></i> کوپن تخفیف</a>
                            </li>
                            <li>
                                <a href="/UsersPanel/WareHouses" class="menu-item"><i class="icon-book text-danger"></i> دفتر انبار</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu-item"><i class="icon-android-desktop text-success"></i> گزارشات</a>
                        <ul class="menu-content">
                            <li>
                                <a href="/UsersPanel/Reports/GetCarts" class="menu-item"><i class="icon-make-group text-white"></i> سبدهای خرید</a>
                            </li>
                            <li>
                                <a href="/UsersPanel/Reports/GetOrders" class="menu-item"><i class="icon-file-zip text-success"></i> سفارشات</a>
                            </li>                            
                            <li>
                                <a href="/UsersPanel/ContactMessages" class="menu-item"><i class="icon-tag text-primary"></i> پیام های مشتریان</a>
                            </li>  
                            <li>
                                <a href="/UsersPanel/Users" class="menu-item"><i class="icon-user text-info"></i> کاربران</a>
                            </li>
                            <li>
                                <a href="/UsersPanel/Reports/GetCellphones" class="menu-item"><i class="icon-phone text-white"></i> بانک تلفن همراه</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </li>           
        </ul>
    </div>
    
</div>