@model DataLayer.Entities.Blogs.Blog

@{
    ViewData["Title"] = "ثبت خبر";
    Layout = "~/Areas/UsersPanel/Views/Shared/_AdminLayout.cshtml";
    <script src="~/lib/ckeditor/ckeditor.js"></script>
}

<h1 class="text-xs-center alert alert-info">ثبت خبر</h1>

<div class="container-fluid">
    <div class="row">
        <div class="offset-md-3 col-md-6 col-xs-12">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="BlogTitle" class="control-label"></label>
                    <input asp-for="BlogTitle" class="form-control" />
                    <span asp-validation-for="BlogTitle" class="text-danger"></span>
                </div>                
                <div class="form-group">
                    <label asp-for="BlogImageInBlog" class="control-label"></label>&ensp;<span class="requried-danger">*</span>&ensp;<span class="float-xs-left">عرض:334، ارتفاع: 251</span>
                    <input asp-for="BlogImageInBlog" type="file" class="form-control" />
                    <span asp-validation-for="BlogImageInBlog" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BlogImageInBlogDetails" class="control-label"></label>&ensp;<span class="requried-danger">*</span>&ensp;<span class="float-xs-left">عرض:720، ارتفاع: 484</span>
                    <input asp-for="BlogImageInBlogDetails" type="file" class="form-control" />
                    <span asp-validation-for="BlogImageInBlogDetails" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BlogText" class="control-label"></label>
                    <textarea asp-for="BlogText" rows="8" class="form-control" ></textarea>
                    <span asp-validation-for="BlogText" class="text-danger"></span>
                </div>
                <script>
                    CKEDITOR.replace('BlogText');
                </script>
                <div class="form-group">
                    <label asp-for="BlogPageTitle" class="control-label"></label>
                    <input asp-for="BlogPageTitle" class="form-control" />
                    <span asp-validation-for="BlogPageTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BlogPageDescription" class="control-label"></label><span class="float-xs-left">مانده : <span id="char-count" class="text-danger">160</span></span>
                    <textarea asp-for="BlogPageDescription" maxlength="160" rows="3" class="form-control" ></textarea>
                    <span asp-validation-for="BlogPageDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BlogSummary" class="control-label"></label><span class="float-xs-left">مانده : <span id="summary-char-count" class="text-danger">500</span></span>
                    <textarea asp-for="BlogSummary" maxlength="500" rows="4" class="form-control" ></textarea>
                    <span asp-validation-for="BlogSummary" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BlogTags" class="control-label"></label>
                    <input asp-for="BlogTags" class="form-control" placeholder="با خط تیره از هم جدا شوند، -"/>
                    <span asp-validation-for="BlogTags" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="BlogIsActive" /> @Html.DisplayNameFor(model => model.BlogIsActive)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="BlogGroupId" class="control-label"></label>
                    <select asp-for="BlogGroupId" class="form-control" asp-items="ViewBag.BlogGroupId">
                        <option value="">لطفا گروه خبر را انتخاب کنید</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="BlogUrl" class="control-label"></label>
                    <input asp-for="BlogUrl" onkeypress="return /[a-z,-]/i.test(event.key)" placeholder="انگلیسی باشد و جای خالی با علامت - پر شود مثال about-insurance" class="form-control" />
                    <span asp-validation-for="BlogUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BlogRefferalLink" class="control-label"></label>
                    <input asp-for="BlogRefferalLink" placeholder="اگر خبر از سایتی دیگر است، لینک آن قرار داده شود" class="form-control" />
                    <span asp-validation-for="BlogRefferalLink" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BlogLinkText" class="control-label"></label>
                    <input asp-for="BlogLinkText" class="form-control" />
                    <span asp-validation-for="BlogLinkText" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BlogViewsCount" class="control-label"></label>
                    <input asp-for="BlogViewsCount" class="form-control" />
                    <span asp-validation-for="BlogViewsCount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductCodes" class="control-label"></label>
                    <input asp-for="ProductCodes" class="form-control" placeholder="با خط تیره از هم جدا شوند، -" />
                    <span asp-validation-for="ProductCodes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Author" class="control-label"></label>
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <input type="submit" value="ثبت" class="btn btn-primary col-xs-12" />
                </div>
            </form>
        </div>
    </div>
</div>


<div>
    <a asp-action="Index">بازگشت</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        function countChar(inobj, maxl, outobj) {
            var len = inobj.value.length;

            if (len >= maxl) {
                inobj.value = inobj.value.substring(0, maxl);
                $(outobj).text(0);
            } else {
                $(outobj).text(maxl - len);
            }
        }
        $(document).ready(function () {
            var curChars = $('#BlogPageDescription').val().length;
            var maxchars = 160 - curChars;
            $('#char-count').text(maxchars);
            $('#BlogPageDescription').keyup(function () {
                countChar(this, 160, '#char-count');
            });
            //BlogSummary
            var curChars = $('#BlogSummary').val().length;
            var maxchars = 500 - curChars;
            $('#summary-char-count').text(maxchars);
            $('#BlogSummary').keyup(function () {
                countChar(this, 500, '#summary-char-count');
            });
        });
    </script>
}
