<section class="mb-5 pb-sm-2 pb-md-3  pb-lg-4 pb-xl-5">
    <div class="container">
        <div class="row">
            <div class=" col-6 col-md-3 col-element-multi ">
                <div class="element-multi text-center ">
                    <div class="wow bounceIn icon-element-multi mb-1" data-wow-duration="2s">
                        <img src="/img/img31.svg" class="img-fluid" alt="ارسال سریع" />
                    </div>
                    <h3 class="title-element-multi">ارسال سریع</h3>
                </div>
            </div>
            <div class="col-6  col-md-3 col-element-multi">
                <div class="element-multi text-center">
                    <div class="wow bounceIn icon-element-multi mb-1" data-wow-duration="2s">
                        <img src="/img/img30.svg" class="img-fluid" alt="7 روز ضمانت بازگشت" />
                    </div>
                    <h3 class="title-element-multi">7 روز ضمانت بازگشت</h3>
                </div>
            </div>
            <div class="col-6   col-md-3 col-element-multi  ">
                <div class="element-multi text-center">
                    <div class="wow bounceIn icon-element-multi mb-1" data-wow-duration="2s">
                        <img src="/img/img33.svg" class="img-fluid" alt="ضمانت اصل بودن کالا" />
                    </div>
                    <h3 class="title-element-multi">ضمانت اصل بودن کالا</h3>
                </div>
            </div>
            <div class="col-6  col-md-3 col-element-multi  ">
                <div class="element-multi text-center">
                    <div class="wow bounceIn icon-element-multi mb-1" data-wow-duration="2s">
                        <img src="/img/img34.svg" class="img-fluid" alt="پشتیبانی 24 ساعته" />
                    </div>
                    <h3 class="title-element-multi">پشتیبانی 24 ساعته</h3>
                </div>
            </div>
        </div>
    </div>
    
</section>