@{
    string logUrl = "/UserHome";

}

@if (User.Identity!.IsAuthenticated)
{
    string res = User.FindFirst("admin")?.Value!;
    if (res == "True")
    {
        logUrl = "/UsersPanel/Home/Index";
    }

    <li style="list-style:none">
        <a href="@logUrl" class="text-success d-inline-flex" title="@User.FindFirst("fullname")?.Value">پنل کاربری</a>
        <span>&ensp;|&ensp;</span>
        <a href="/Login?handler=Logout" class="text-danger d-inline-flex">خروج</a>
    </li>
}
else
{
    <li style="list-style:none">
        <a class="d-inline-flex" href="/Login">ورود</a>
        <span>&ensp;|&ensp;</span>
        <a href="/Register" class="text-success d-inline-flex">عضویت</a>
    </li>
}
