<div id="modal-subscribe" class="modal fade subscribe-popup">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body py-0">

                <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="row">
                    <div class="col-sm-5 area-img-popup  d-sm-block p-0">
                        <img src="/img/imgmodal.jpg">
                    </div>
                    <div class="col-12 col-sm-7  p-4 p-lg-5">
                        <div class="popup_content">
                            <div class="popup-text " style="margin-top:10mm">
                                <h1 class="heading-style1 my-3 my-md-4 text-center">
                                    سایت در حال آماده سازی نهایی است !
                                </h1>
                                <h2 class="heading-style1 my-3 my-md-4 text-center" style="color:red">
                                    توجه : هنوز امکان خرید از سایت فراهم نیست
                                </h2>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>