-<section class="mb-5 pb-sm-3  pb-lg-4 pb-xl-5">
    <div class="area-sale-cover d-flex align-items-center">
        <div class="wow zoomInDown content-sale-cover" data-wow-duration="2s">
            <h2 class="mb-4 mb-md-5">پیشنهادهای فصل</h2>
            <div class="title-time_offer mb-4">فرصت باقی مانده</div>
            <div class="countdown_sale mb-4 mb-md-5" id="countdown-1">
                <ul class="d-flex justify-content-between ">
                    <li><span id="seconds">26</span>ثانیه</li>
                    <li><span id="minutes">43</span>دقیقه</li>
                    <li><span id="hours">23</span>ساعت</li>
                    <li><span id="days">257</span>روز</li>
                </ul>
            </div>
            <a href="shop-left-sidebar.html" class="btn-animate1 to-arrow">
                مشاهده و خرید <i class="fal fa-angle-left"></i>
            </a>
        </div>
    </div>
</section>