@page "/UserHome"
@model Web.Pages.Account.UserHomeModel
@{
    ViewData["Title"] = "حساب کاربری";
}
@section CssRefs{
    <link rel="stylesheet" href="~/Layout/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="~/Layout/css/style.css">
    <link rel="stylesheet" href="~/Layout/css/all.min.css">
    <link rel="stylesheet" href="~/Layout/css/respansive.css">
    <link rel="stylesheet" href="~/Layout/css/animate.min.css">
}
    

    <main class="content">
        <section class="mb-5 pb-sm-2 pb-md-3  pb-lg-4 pb-xl-5">
            <div class="container container-Page-account">
                <div class="row">
                    <div class="col-12 col-lg-3 container-sidebar-account ">
                        <div class="sidebar-account">
                            <div class="avatar-user d-flex flex-column justify-content-center align-items-center mb-5">
                                <img class="img-avatar-user" src="/images/icons/avatar.png">
                                <div class="name-avatar-user">
                                    <h4>@User.Claims?.FirstOrDefault(x => x.Type.Equals("fullname", StringComparison.CurrentCulture))?.Value</h4>
                                </div>
                            </div>
                            <div class="account-menu">
                                <div class="list-group  flex-column">
                                    <a class="list-group-item  active" href="/Account/UserPanel/Orders" id="orders-tab">
                                        <i class="fal fa-cart-arrow-down me-3"></i>سفارش ها
                                    </a>
                                    
                                    
                                    <a class="list-group-item" href="/Account/UserPanel/AccountDetails" id="infoprofile-tab">
                                        <i class="fal fa-clipboard-list-check me-3"></i>جزییات حساب
                                    </a>
                                    <a class="list-group-item" href="account-change-password.html" id="home">
                                        <i class="fal fa-lock-alt me-3"></i>
                                        تغییر رمز عبور
                                    </a>
                                    <a class="list-group-item" href="/Login?handler=Logout">
                                        <i class="fal fa-sign-out-alt  me-3"></i>خروج
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-xl-9 container-content-account">
                        <div class="account-header d-flex justify-content-between justify-content-xl-end">
                            <div class="icon_meni_bar d-block d-xl-none">
                                <a><img src="/img/menu.png"></a>
                            </div>
                            <a class="link-back-home" href="/">صفحه نخست <i class="far fa-home"></i></a>
                        </div>
                        <div class="account-content content-Orders-account">
                            <div class="header-tab-content-account  mb-4">
                                <h1 class="title-tabcontent-account mb-3 mb-sm-0">
                                    آخرین سفارش ها
                                </h1>
                            </div>
                            <div class="main-content-account">
                                <div id="accordionone" class="area-Orders-account ">
                                    <div class="card card-Orders-account mb-3">
                                        <div class="card-header">
                                            <a class="header-content-orders  d-sm-flex align-items-center justify-content-between"
                                           data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                           aria-expanded="true" aria-controls="collapseOne" id="headingOne">

                                                <div class="id-product-order item-header-orders">dkc-65454555</div>
                                                <div class="date-order item-header-orders">
                                                    <i class="fal fa-clock me-1"></i>1399/10/15
                                                </div>
                                                <div class="stutus-order stutus-order-blue item-header-orders">
                                                    درحال
                                                    پردازش
                                                </div>
                                                <div class="price-product-order item-header-orders">
                                                    150.000 تومان
                                                </div>
                                            </a>
                                        </div>
                                        <div id="collapseOne" class="collapse collapse-content-orders show"
                                         aria-labelledby="headingOne" data-parent="#accordionone">
                                            <div class="card-body">
                                                <div class="area-content-orders d-sm-flex align-items-center justify-content-between mb-4 mb-sm-3">
                                                    <div class="area-ditails_product-orders d-flex align-items-center flex-column flex-sm-row">
                                                        <img src="/img/img12.jpg" class="mb-3 mb-sm-0">
                                                        <div class="ditails_product-orders ms-3  text-center">
                                                            <a href="#" class="nameproduct-orders mb-1">
                                                                نام
                                                                محصول
                                                            </a>
                                                            <div><span>سایز: </span>300ml</div>
                                                            <div><span>طبع: </span>گرم</div>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex flex-row flex-sm-column justify-content-center align-items-center ">
                                                        تعداد:
                                                        <span>2</span>
                                                    </div>
                                                    <div class="d-flex  flex-row flex-sm-column justify-content-center align-items-center">
                                                        جمع کل:
                                                        <span>1500000</span>
                                                    </div>
                                                </div>

                                                <div class="area-content-orders d-sm-flex align-items-center justify-content-between mb-4 mb-sm-3">
                                                    <div class="area-ditails_product-orders d-flex align-items-center flex-column flex-sm-row">
                                                        <img src="img/img11.jpg" class="mb-3 mb-sm-0">
                                                        <div class="ditails_product-orders ms-3  text-center">
                                                            <a href="#" class="nameproduct-orders mb-1">
                                                                نام
                                                                محصول
                                                            </a>
                                                            <div><span>سایز: </span>30 سانتی متر</div>
                                                            <div><span>رنگ: </span>سفید</div>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex flex-row flex-sm-column justify-content-center align-items-center">
                                                        تعداد:
                                                        <span>2</span>
                                                    </div>
                                                    <div class="d-flex flex-row flex-sm-column justify-content-center align-items-center">
                                                        جمع کل:
                                                        <span>1500000</span>
                                                    </div>
                                                </div>
                                                <div class="area-details-bottom-orders d-sm-flex justify-content-between align-items-center text-center border-top py-4">

                                                    <div class="details-bottom-content-orders details-bottom-content me-3">
                                                        <span>جمع کل: </span>
                                                        <span>152000 تومان</span>
                                                    </div>
                                                    <div class="details-bottom-content-orders details-bottom-content me-3">
                                                        <span>حمل و نقل: </span>
                                                        <span>15000 تومان</span>
                                                    </div>


                                                    <div class="details-bottom-content-orders details-bottom-content me-3">
                                                        <span>مالیات: </span>
                                                        <span>6000 تومان</span>
                                                    </div>
                                                    <div class="details-bottom-content-orders details-bottom-content me-3">
                                                        <span>کل: </span>
                                                        <span>173000 تومان</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card card-Orders-account mb-3">
                                        <div class="card-header">
                                            <a class="header-content-orders  d-sm-flex align-items-center justify-content-between"
                                           data-bs-toggle="collapse" data-bs-target="#collapsetwo"
                                           aria-expanded="false" aria-controls="collapsetwo" id="headingtwo">
                                                <div class="id-product-order item-header-orders">dkc-65454555</div>
                                                <div class="date-order item-header-orders">
                                                    <i class="fal fa-clock me-1"></i>1399/7/19
                                                </div>
                                                <div class="stutus-order stutus-order-success item-header-orders">
                                                    تحویل
                                                    داده
                                                </div>
                                                <div class="price-product-order item-header-orders">
                                                    150.000 تومان
                                                </div>
                                            </a>
                                        </div>
                                        <div id="collapsetwo" class="collapse collapse-content-orders"
                                         aria-labelledby="headingtwo" data-parent="#accordiontwo">
                                            <div class="card-body">
                                                <div class="area-content-orders d-sm-flex align-items-center justify-content-between mb-4 mb-sm-3">
                                                    <div class="area-ditails_product-orders d-flex align-items-center flex-column flex-sm-row">
                                                        <img src="/img/img11.jpg" class="mb-3 mb-sm-0">
                                                        <div class="ditails_product-orders ms-3  text-center">
                                                            <a href="#" class="nameproduct-orders mb-1">
                                                                نام
                                                                محصول
                                                            </a>
                                                            <div><span>سایز: </span>30 سانتی متر</div>
                                                            <div><span>رنگ: </span>سفید</div>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex flex-row flex-sm-column justify-content-center align-items-center">
                                                        تعداد:
                                                        <span>2</span>
                                                    </div>
                                                    <div class="d-flex flex-row flex-sm-column justify-content-center align-items-center">
                                                        جمع کل:
                                                        <span>1500000</span>
                                                    </div>
                                                </div>
                                                <div class="area-details-bottom-orders d-sm-flex justify-content-between align-items-center  border-top py-4">
                                                    <div class="details-bottom-content-orders details-bottom-content me-3">
                                                        <span>جمع کل: </span>
                                                        <span>152000 تومان</span>
                                                    </div>
                                                    <div class="details-bottom-content-orders details-bottom-content me-3">
                                                        <span>حمل و نقل: </span>
                                                        <span>15000 تومان</span>
                                                    </div>
                                                    <div class="details-bottom-content-orders details-bottom-content me-3">
                                                        <span>مالیات: </span>
                                                        <span>6000 تومان</span>
                                                    </div>
                                                    <div class="details-bottom-content-orders details-bottom-content me-3">
                                                        <span>کل: </span>
                                                        <span>173000 تومان</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card card-Orders-account mb-3">
                                        <div class="card-header">
                                            <a class="header-content-orders  d-sm-flex align-items-center justify-content-between"
                                           data-bs-toggle="collapse" data-bs-target="#collapsefour"
                                           aria-expanded="false" aria-controls="collapsefour" id="headingfour">
                                                <div class="id-product-order item-header-orders">dkc-65454555</div>
                                                <div class="date-order item-header-orders">
                                                    <i class="fal fa-clock me-1"></i>1399/10/20
                                                </div>
                                                <div class="stutus-order stutus-order-danger item-header-orders">
                                                    لغو
                                                    شده
                                                </div>
                                                <div class="price-product-order item-header-orders">
                                                    150.000 تومان
                                                </div>
                                            </a>
                                        </div>
                                        <div id="collapsefour" class="collapse collapse-content-orders"
                                         aria-labelledby="headingfour" data-parent="#accordionfour">
                                            <div class="card-body">
                                                <div class="area-content-orders d-sm-flex align-items-center justify-content-between mb-4 mb-sm-3">
                                                    <div class="area-ditails_product-orders d-flex align-items-center flex-column flex-sm-row">
                                                        <img src="/img/img12.jpg" class="mb-3 mb-sm-0">
                                                        <div class="ditails_product-orders ms-3  text-center">
                                                            <a href="#" class="nameproduct-orders mb-1">
                                                                نام
                                                                محصول
                                                            </a>
                                                            <div><span>سایز: </span>300ml</div>
                                                            <div><span>طبع: </span>گرم</div>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex flex-row flex-sm-column justify-content-center align-items-center">
                                                        تعداد:
                                                        <span>2</span>
                                                    </div>
                                                    <div class="d-flex flex-row flex-sm-column justify-content-center align-items-center">
                                                        جمع کل:
                                                        <span>1500000</span>
                                                    </div>
                                                </div>
                                                <div class="area-details-bottom-orders d-sm-flex justify-content-between align-items-center  border-top py-4">

                                                    <div class="details-bottom-content-orders details-bottom-content me-3">
                                                        <span>جمع کل: </span>
                                                        <span>152000 تومان</span>
                                                    </div>
                                                    <div class="details-bottom-content-orders details-bottom-content me-3">
                                                        <span>حمل و نقل: </span>
                                                        <span>15000 تومان</span>
                                                    </div>
                                                    <div class="details-bottom-content-orders details-bottom-content me-3">
                                                        <span>مالیات: </span>
                                                        <span>6000 تومان</span>
                                                    </div>
                                                    <div class="details-bottom-content-orders details-bottom-content me-3">
                                                        <span>کل: </span>
                                                        <span>173000 تومان</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card card-Orders-account mb-3">
                                        <div class="card-header">
                                            <a class="header-content-orders  d-sm-flex align-items-center justify-content-between"
                                           data-bs-toggle="collapse" data-bs-target="#collapsefive"
                                           aria-expanded="false" aria-controls="collapsefive" id="headingfive">
                                                <div class="id-product-order item-header-orders">dkc-65454555</div>
                                                <div class="date-order item-header-orders">
                                                    <i class="fal fa-clock me-1"></i>1399/3/10
                                                </div>
                                                <div class="stutus-order stutus-order-success item-header-orders">
                                                    تحویل
                                                    داده
                                                </div>
                                                <div class="price-product-order item-header-orders">
                                                    150.000 تومان
                                                </div>
                                            </a>
                                        </div>
                                        <div id="collapsefive" class="collapse collapse-content-orders"
                                         aria-labelledby="headingfive" data-parent="#accordionfive">
                                            <div class="card-body">
                                                <div class="area-content-orders d-sm-flex align-items-center justify-content-between mb-4 mb-sm-3">
                                                    <div class="area-ditails_product-orders d-flex align-items-center flex-column flex-sm-row">
                                                        <img src="/img/img12.jpg" class="mb-3 mb-sm-0">
                                                        <div class="ditails_product-orders ms-3  text-center">
                                                            <a href="#" class="nameproduct-orders mb-1">
                                                                نام
                                                                محصول
                                                            </a>
                                                            <div><span>سایز: </span>300ml</div>
                                                            <div><span>طبع: </span>گرم</div>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex flex-row flex-sm-column justify-content-center align-items-center">
                                                        تعداد:
                                                        <span>2</span>
                                                    </div>
                                                    <div class="d-flex flex-row flex-sm-column justify-content-center align-items-center">
                                                        جمع کل:
                                                        <span>1500000</span>
                                                    </div>
                                                </div>
                                                <div class="area-details-bottom-orders d-sm-flex justify-content-between align-items-center  border-top py-4">
                                                    <div class="details-bottom-content-orders details-bottom-content me-3">
                                                        <span>جمع کل: </span>
                                                        <span>152000 تومان</span>
                                                    </div>
                                                    <div class="details-bottom-content-orders details-bottom-content me-3">
                                                        <span>حمل و نقل: </span>
                                                        <span>15000 تومان</span>
                                                    </div>
                                                    <div class="details-bottom-content-orders details-bottom-content me-3">
                                                        <span>مالیات: </span>
                                                        <span>6000 تومان</span>
                                                    </div>
                                                    <div class="details-bottom-content-orders details-bottom-content me-3">
                                                        <span>کل: </span>
                                                        <span>173000 تومان</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="area-btnOldOrders text-center pt-3">

                                    <a class="btn-style2" href="#">نمایش سفارش های بیشتر</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    @section Footer{
    @await Component.InvokeAsync("FooterComponent")
    }

    @section JsRefs{
    <script src="~/Layout/js/jquery-3.6.0.min.js"></script>
    <script src="~/Layout/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Layout/js/main.js"></script>
    <script type="text/javascript" src="~/Layout/js/wow.min.js"></script>
}

}